In [6]:
import pandas as pd
import numpy as np

In [7]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.113951 -0.845060 -0.106966 -0.856446
2013-01-02  1.026620 -0.249888 -0.458465  0.066966
2013-01-03 -0.318471  1.516368 -0.643262 -0.732000
2013-01-04  0.986228 -2.288747  0.964279 -1.926552
2013-01-05 -1.211834  1.030478 -0.485969  0.560075
2013-01-06  2.147475  0.850055 -0.558697 -1.228030

In [14]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [16]:
df.head()

                   A         B         C         D
2013-01-01 -0.113951 -0.845060 -0.106966 -0.856446
2013-01-02  1.026620 -0.249888 -0.458465  0.066966
2013-01-03 -0.318471  1.516368 -0.643262 -0.732000
2013-01-04  0.986228 -2.288747  0.964279 -1.926552
2013-01-05 -1.211834  1.030478 -0.485969  0.560075

In [17]:
df.tail()

                   A         B         C         D
2013-01-02  1.026620 -0.249888 -0.458465  0.066966
2013-01-03 -0.318471  1.516368 -0.643262 -0.732000
2013-01-04  0.986228 -2.288747  0.964279 -1.926552
2013-01-05 -1.211834  1.030478 -0.485969  0.560075
2013-01-06  2.147475  0.850055 -0.558697 -1.228030

In [18]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [19]:
df.to_numpy()

array([[-0.11395051, -0.84505951, -0.10696634, -0.85644579],
       [ 1.02662048, -0.2498879 , -0.45846545,  0.06696563],
       [-0.31847088,  1.51636813, -0.64326205, -0.73200012],
       [ 0.98622752, -2.28874671,  0.96427949, -1.9265516 ],
       [-1.21183398,  1.03047837, -0.48596866,  0.56007471],
       [ 2.14747524,  0.85005531, -0.55869651, -1.22802998]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.419345  0.002201 -0.214847 -0.685998
std    1.197171  1.421179  0.606070  0.892591
min   -1.211834 -2.288747 -0.643262 -1.926552
25%   -0.267341 -0.696267 -0.540515 -1.135134
50%    0.436139  0.300084 -0.472217 -0.794223
75%    1.016522  0.985373 -0.194841 -0.132776
max    2.147475  1.516368  0.964279  0.560075